
<!DOCTYPE html>
<html>
    <head>
        <title>Your Car Dealership's Homepage</title>
    </head>
    <body>
        <h1>Your Car Dealership</h1>
        {% for car in showcars %}
            <ul>
                <li>{{ car.getMake_model }} </li>
                <li>{{ car.getMiles }} </li>
                <li>{{ car.getPrice }} </li>
                <li><img src='{{ car.image }}'></li>
            </ul>
        {% endfor %}
        {% if cars_matching_search is empty %}
        <h2> Sorry, no cars match your search at this time. </h2>
        {% endif %}
    </body>
</html>
