<!DOCTYPE html>
<html>
    <head>
        <title>Sell Yr Car!</title>
    </head>
    <body>
        <h1>Your car has been listed!  Good luck!</h1>

        <a href="/">Home</a>
        <a href="/results">Go Back To Results</a>

    </body>
</html>
